.btn-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-group:hover {
  cursor: pointer;
}

.glyphicon-pencil {
  color: #4f41f4;
}

.glyphicon-floppy-saved {
  color: #41f46b;
}

.glyphicon-trash {
  color: #f4424b;
}

.col-style {
  background-color: #F4F5F7;
  min-height: 500px;
  height: 100%;
}

.btn-status {
  padding: 0;
  background-color: transparent;
}
